<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problemas</title>
</head>
<body>
    <div id="lista-problemas">
        <ul>
            {% for problema in problemas %}
            <li hx-get="/ui/problems/{{ problema['id'] }}" hx-target="#detalhe-problema" hx-swap="innerHTML">
                {{ problema['title'] }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="detalhe-problema">

    </div>
    <script src="/static/htmx.min.js"></script>
</body>
</html>